@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
$darkblue: #4A24A8;
$whiteblue: #4CA9FF;


html{
    font-family: 'Roboto', sans-serif;
}

p{
    color: #6A707D;
    font-size: 1.8rem;
}

h1{
    color: #fff;
    font-size: 9rem;
    margin-top: 250px;
}

h2{
    font-size: 4.8rem;
    color: #40485A;
}

h3{
    font-size: 1.8rem;
    font-weight: 700;
    color: #40485A;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100vh;
    background-color: $darkblue;

    .header__h{
        span{
            color: $whiteblue;
        }
    }
}

.about-us{
    text-align: center;

    h2{
        margin: 30px 0;
    }

    p{
        margin-bottom: 40px;
    }
}

.portfolio__img {
    margin: 0 auto;
    
    img{
        margin: 10px 0;
        width: 100%;
    }
   
}

.what__h{
    margin-top: 50px;
    text-align: center;
}

.what__block{
    margin-bottom: 40px;
}

.block__inner{
    text-align: center;
    margin: 70px auto;
    width: 65%;

    h3{
        margin-bottom: 15px;
    }
}

.reviews__block{
    text-align: center;
    display: grid;
    margin-bottom: 40px;
    span{
        color: $whiteblue;
    }

    &__info{
        
        margin-top: 20px;

        img{
            grid-area: a;
            grid-template-areas: "a b";
        }

        p{
            grid-area: b;
        }
    }
}

footer{
    padding: 40px 0;
    text-align: center;
    background-color: $darkblue;

    p{
        color: $whiteblue;
    }
}